 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #1e1e1e;
    color: #fff;
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #2a2a2a;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

.hero {
    padding: 50px;
}

.menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 40px;
}

.item {
    background: black;
    padding: 15px;
    border-radius: 10px;
    width: 200px;
}

.item img {
    width: 100px;
    height: 100px;
}

footer {
    background: black;
    padding: 20px;
    margin-top: 20px;
}

.social-icons {
    width: 70px;
}

.logo-img{
  width: 70px;
}

.item:hover{
    transition: 1s ease-out;
    transform: scale(1.2);
    background-color: black;
    margin: 45px;
    box-shadow: 3px 5px 10px 0 gold;
}

button:hover{
    box-shadow: 3px 5px 10px 0 red;
}

button{
    background-color: gold;
}

a {
    text-decoration: none;
}

.image-container {
    width: 100px;
    height: 100px;
    background-image: url("https://cdn-icons-png.flaticon.com/512/588/588267.png");
    background-size: cover;
    transition: background 0.3s ease;
}

.image-container:hover {
    background-image: url("https://media.tenor.com/J-5Dn6dNFsIAAAAM/dota2.gif");
}

.image-container2 {
    width: 500px;
    height: 250px;
    background-image: url("https://shared.fastly.steamstatic.com/store_item_assets/steam/apps/570/header.jpg?t=1739210483");
    background-size: cover;
    transition: background 0.3s ease;
    margin: 0 auto; /* Авто-отступы слева и справа */
    background-color: lightgray; /* Для наглядности */
    padding: 20px;
}

.image-container2:hover {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRtj1or78s1nH8EpKCj6B_X3UCxOuNEQxgoQA&s");
}

